body{
  font-family: 'NeoSansPro', sans-serif;
  color: #4c4c4c;
}
a{
  color: $blue;
  outline: none;
  &:hover{
    color: #098793;
  }
  &:focus{
    outline: none;
  }
}
*{
  box-sizing: border-box;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.f-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.wrapper{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}
.content {
  flex: 1 0 auto;
  padding-bottom: 20px;
}

.footer{
  color: #fff;
  font-size: 12px;
  a{
    color: #fff;
    text-decoration: none;
  }
  &__top{
    padding: 30px 0 35px;
    background: #0d2b5d;
    .f-row{
      display: flex;
    }
  }
  &__contacts{
    width: 300px;
    flex-shrink: 0;
    padding-right: 30px;
  }
  &__menu{
    flex: 1;
  }
  &__bottom{
    background: #0d3272;
    padding: 15px 0;
    .f-row{
      display: flex;
      justify-content: space-between;      
    }
  }
  &__logo{
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    span{
      font-weight: normal;
      font-size: 14px;
    }
  }
}
.footer-menu{
  display: flex;
  justify-content: space-between;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item{
    padding: 0 20px;
    &--main{
      li{
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: bold;
      }
    }
    &--nowrap{
      white-space: nowrap;
    }
  }
  &__title{
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.header{
  padding-top: 10px;
  padding-bottom: 10px;
  a{
    text-decoration: none;
  }
  &__logo{
    margin-right: auto;
    text-decoration: none;
    color: $blue;
    font-weight: bold;
    font-size: 30px;
    span{
      font-weight: normal;
      font-size: 18px;
    }
  }
  &__body{
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
  }
  &__email{
    font-size: 14px;
    margin-right: 30px;
  }
  &__phone{
    font-size: 20px;
  }
  &__menu{
    margin-bottom: 20px;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
    }
    li{
      margin: 0;
      padding: 0;
      &.sep{
        &:before{
          content: "|";
          display: inline-block;
        }
      }
      &.active{
        a{
          color: $blue;
        }
      }
    }
    a{
      font-size: 14px;
      text-transform: uppercase;
      color: #000;
      transition: $anim;
      &:hover{
        color: $blue;
      }
    }
  }
}

.section-title{
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner{
    position: relative;
    z-index: 2;
    line-height: 100%;
    display: inline-block;
    font-size: 25px;
  }
  &:before {
    background-color: rgba(56, 56, 56, 0.8);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.crumbs {
  margin: 12px 0;
  .breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 12px;
    li {
      display: inline-block;
      margin-bottom: 0;
    }
    a{
      text-decoration: none;
      font-size: 12px;
    }
    > li + li::before {
      content: "/";
      margin: 0 5px;
      vertical-align: middle;
      display: inline-block;
      background-repeat: no-repeat;
      @media($bp-larger-than-mobile ) {
        margin: 0 10px;
      }
    }
  }
}

.btn{
  display: inline-block;
  padding: 4px 12px;
  background-color: $blue;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}