.contacts-box{
    padding: 25px 0 0;
    background-color: #FFF;
    color: #333538;
    line-height: 120%;
    max-width: 458px;
    margin-left: auto;
    margin-right: auto;    
    position: relative;
    z-index: 10;
    @media($bp-larger-than-mobile) {
        padding: 46px 50px;
    }
    @media($bp-larger-than-tablet) {
        float: right;
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 0 0 5px 0 #ccc;
    }
    &__info{
        margin-bottom: 35px;
        padding: 0 30px;
        font-size: 14px;
        @media($bp-larger-than-mobile) {
            margin-bottom: 24px;
            padding: 0 4px;
        }
    }
    &__header{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 18px;
        @media($bp-larger-than-mobile) {
            font-size: 20px;
            margin-bottom: 26px;
        }
    }
    &__phone{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        @media($bp-larger-than-mobile) {
            font-size: 18px;
        }
        a{
            color: #17428c;
            text-decoration: none;

        }
    }
    &__email{
        padding-left: 28px;
        position: relative;
        margin-bottom: 15px;
        @media($bp-larger-than-mobile) {
            margin-bottom: 20px;
        }
        &:before{
            content: "";
            display: inline-block;
            @include sprite($email-gray);
            position: absolute;
            top: 2px;
            left: 0;
        }
        a{
            color: #333538;
            text-decoration: none;
        }
    }
    &__address{
        padding-left: 28px;
        position: relative;
        margin-bottom: 8px;
        line-height: 120%;
        @media($bp-larger-than-mobile) {
            line-height: 130%;
        }
        &:before{
            content: "";
            display: inline-block;
            @include sprite($marker-gray);
            position: absolute;
            top: 2px;
            left: 0;
        }
        a{
            color: #333538;
            text-decoration: none;
        }
    }
}
.contacts-form{
    border: 1px solid #0d2b5d;
    padding: 33px 42px 27px;
    &__header{
        color: #17428c;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-bottom: 28px;
        @media($bp-larger-than-mobile) {
            font-size: 24px;
            margin-bottom: 48px;
        }
    }
    input[type="text"]{
        width: 100%;
        border: 1px solid #17428c;
        background-color: #FFF;
        height: 28px;
        line-height: 27px;
        color: #17428c;
        padding: 1px 15px;
        margin-bottom: 10px;
        @media($bp-larger-than-mobile) {
            margin-bottom: 20px;
        }
    }
    button{
        border: 0 none;
        width: 100%;
        height: 34px;
        margin-top: 20px;
        line-height: 27px;
        margin-bottom: 24px;
        @media($bp-larger-than-mobile) {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        
    }
    &__fz152{
        text-align: center;
        font-size: 12px;
        line-height: 120%;
        @media($bp-larger-than-mobile) {
            font-size: 14px;
        }
    }
}
.contact-page{
    position: relative;
    padding-bottom: 0;
}
.contacts-map{
    height: 480px;
    @media($bp-larger-than-tablet) {
        height:auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;    
    }
}