.news{
  &__list{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    @media($bp-larger-than-1170) {
      display: block;
    }
  }
  &__item{
    padding: 0 15px;
    width: 100%;
    min-height: 100px;
    margin-bottom: 12px;
    position: relative;
    @media($bp-larger-than-mobile) {
      margin-bottom: 40px;
    }
    @media($bp-larger-than-tablet) {
      width: 50%;
    }
    @media($bp-larger-than-desktop) {
      width: 33%;
    }
    @media($bp-larger-than-1170) {
      float: left;
      width: 25%;
    }
    &:nth-child(1){
      @media($bp-larger-than-1170) {
        height: 420px;
        width: 58%;
        .news__image{
          height: 100%;
        }
        .news__info{
          position: absolute;
          bottom: 0;
          padding: 0 56px 40px 56px;
        }
        .news__name{
          color: #fff;
          font-size: 20px;
          margin-bottom: 16px;
        }
        .news__type{
          border-color: #fff;
          color: #fff;
        }
        .news__more{
          display: inline-block;
          background-color: #fff;
          color: $blue;
          padding: 6px 40px 4px;
          &:hover{
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
    &:nth-child(2){
      @media($bp-larger-than-1170) {
        width: 42%;
        height: 200px;
        margin-bottom: 20px;
        .news__card{
          display: flex;
        }
        .news__image{
          height: 100%;
          width: 165px;
          flex-shrink: 0;
          margin-right: 30px;
        }
        .news__info{
          flex: 1;
        }
      }
    }
    &:nth-child(3){
      @media($bp-larger-than-1170) {
        width: 42%;
        height: 200px;
        .news__card{
          display: flex;
        }
        .news__image{
          height: 100%;
          width: 165px;
          flex-shrink: 0;
          margin-right: 30px;
        }
        .news__info{
          flex: 1;
        }
      }
    }
    &:nth-child(4){
      @media($bp-larger-than-1170) {
        clear: both;
        width: 33.33%
      }
    }
    &:nth-child(5){
      @media($bp-larger-than-1170) {
        width: 33.33%
      }
    }
    &:nth-child(6){
      @media($bp-larger-than-1170) {
        width: 33.33%
      }
    }
    &:nth-child(7){
      @media($bp-larger-than-1170) {
        width: 50%;
        height: 320px;
        .news__image{
          height: 100%;
        }
        .news__info{
          position: absolute;
          bottom: 0;
          padding: 0 48px 30px 48px;
        }
        .news__name{
          color: #fff;
          font-size: 20px;
          margin-bottom: 16px;
        }
        .news__type{
          border-color: #fff;
          color: #fff;
        }
        .news__more{
          display: inline-block;
          background-color: #fff;
          color: $blue;
          padding: 6px 40px 4px;
          &:hover{
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
    &:nth-child(8){
      @media($bp-larger-than-1170) {
        width: 50%;
        height: 320px;
        .news__image{
          height: 100%;
        }
        .news__info{
          position: absolute;
          bottom: 0;
          padding: 0 48px 30px 48px;
        }
        .news__name{
          color: #fff;
          font-size: 20px;
          margin-bottom: 16px;
        }
        .news__type{
          border-color: #fff;
          color: #fff;
        }
        .news__more{
          display: inline-block;
          background-color: #fff;
          color: $blue;
          padding: 6px 40px 4px;
          &:hover{
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
  &__card{
    height: 100%;
    transition: $anim;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    @media($bp-larger-than-tablet) {
      max-width: none;
    }
    &:hover{
      //transform: scale(1.05);
    }
  }
  &__image{
    height: 161px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    @media($bp-larger-than-mobile){
      height: 200px;
    }
  }
  &__type{
    border: 1px solid #0d2b5d;
    padding: 0px 10px;
    color: #0d2b5d;
    text-transform: uppercase;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 4px;
    line-height: 12px;
    padding-top: 1px;
    @media($bp-larger-than-mobile) {
      font-size: 12px;
      padding: 2px 20px;
      line-height: 14px;
      margin-bottom: 14px;
    }
  }
  &__name{
    font-size: 14px;
    color: #2c2e31;
    line-height: 120%;
    margin-bottom: 4px;
    @media($bp-larger-than-mobile) {
      font-size: 16px;
      margin-bottom: 9px;
    }
  }
  &__more{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    transition: $anim;
    @media($bp-larger-than-mobile) {
      font-size: 14px;
    }
  }
  &__info{
    margin-top: 6px;
    @media($bp-larger-than-mobile) {
      margin-top: 18px;
    }
  }
  &__controls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    flex-direction: column;
    @media($bp-larger-than-tablet){
      flex-direction: row;
      margin-bottom: 26px;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    order: 2;
    @media($bp-larger-than-tablet){
      order: 1;
    }
    a{
      display: inline-block;
      padding: 0px 11px;
      border: 1px solid $blue;
      text-decoration: none;
      font-size: 11px;
      text-transform: uppercase;
      margin-right: 10px;
      transition: $anim;
      margin-bottom: 10px;
      line-height: 16px;
      @media($bp-larger-than-tablet){
        font-size: 12px;
        padding: 0px 25px;
        line-height: 18px;
      }
      &:hover{
        background-color: $blue;
        color: #fff;
      }
      &.active{
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

.news-search{
  position: relative;
  width: 100%;
  height: 25px;
  order: 1;
  margin-bottom: 10px;
  @media($bp-larger-than-tablet){
    width: 360px;
    order: 2;
    height: 30px;
  }
  &__input{
    width: 100%;
    height: 25px;
    line-height: 30px;
    border: 1px solid $blue;
    padding: 0 15px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    @media($bp-larger-than-tablet){
      font-size: 14px;
      height: 30px;
    }
  }
  &__submit{
    position: absolute;
    top: 1px;
    right: 5px;
    bottom: 1px;
    width: 27px;
    padding: 0;
    background-color: transparent;
    border: 0 none;
    @media($bp-larger-than-tablet){
      width: 40px;
    }
    &:before{
      content: "";
      display: inline-block;
      @include sprite($search-mobile);
      margin-top: 6px;
      @media($bp-larger-than-tablet){
        @include sprite($search);
      }
    }
  }
}