<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="f-row">
                <div class="footer__contacts">
                    <div class="footer__logo">
                        SHRC
                        <span>Smart HR Consulting</span>
                    </div>
                    <div class="footer__phone">
                        <a href="tel:72842953819">7 (284) 295-38-19</a>
                    </div>
                    <div class="footer__email">
                        <a href="mailto:info@gmail.com">info@gmail.com</a>
                    </div>
                    <div class="footer__private-police">
                        <a href="#">Политика конфиденциальности персональных данных</a>
                    </div>
                </div>
                <div class="footer-menu">
                    <div class="footer-menu__item footer-menu__item--main">
                        <ul>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Статьи</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu__item footer-menu__item--nowrap">
                        <div class="footer-menu__title"><a href="#">Консультационные услуги</a></div>
                        <ul>
                            <li><a href="#">Грейдинг и системы вознаграждения</a></li>
                            <li><a href="#">Управление талантами</a></li>
                            <li><a href="#">Развитие корпоративной культуры</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu__item">
                        <div class="footer-menu__title"><a href="#">Опросы</a></div>
                        <ul>
                            <li><a href="#">Компексное исследование систем вознаграждений</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu__item">
                        <div class="footer-menu__title"><a href="#">Исследования</a></div>
                        <ul>
                            <li><a href="#">Исследование практик в области развития талантов и управления карьерой</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="f-row">
                <div class="footer__copyright">&copy; Smart HR Consulting Company Russia&CIS</div>
                <div class="footer__dev">Разработка сайта</div>
            </div>
        </div>
    </div>

</footer>
</div>





<script src="assets/template/vendor/jquery-3.2.1.min.js"></script>
<script src="assets/template/vendor/slick/slick.js"></script>
<script src="assets/template/vendor/selectric/jquery.selectric.min.js"></script>
<script src="assets/template/vendor/magnific-popup/magnific-popup.js"></script>
<!--script src="assets/template/vendor/wow.min.js"></script>
<script>
    new WOW({
        live: true
    }).init();
</script-->
<script src="assets/template/js/scripts.js"></script>

<script>
    var $buoop = {notify:{i:-5,f:-4,o:-4,s:-2,c:-4},insecure:true,mobile:false,api:5};
    function $buo_f(){
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
</script>

</body>
</html>