<div class="posts__item">
    <div class="posts__card">
        <div class="posts__image" style="background-image: url('/assets/template/img/tmp/posts__image.jpg');"></div>
        <div class="posts__text">
            Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых
        </div>
        <div class="posts__more">
            <a href="#" class="btn">Пройти опрос</a>
        </div>
        <div class="posts__download">
            <a href="#" class="posts__download-link">Скачать отчет</a>
        </div>
    </div>
</div>