<div class="posts__item">
    <div class="posts__card">
        <div class="posts__image" style="background-image: url('/assets/template/img/tmp/posts__image.jpg');"></div>
        <div class="posts__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque numquam animi non rerum autem? Ducimus inventore placeat enim aperiam
        </div>
        <div class="posts__more">
            <a href="#" class="btn">Подробнее</a>
        </div>
        <div class="posts__download">
            <a href="#" class="posts__download-link">Скачать</a>
        </div>
    </div>
</div>