//= include/header.html


    <div class="content">
        
        <div class="main-slider">
            <div>
                <div class="main-slider__item">
                    <img src="/assets/template/img/slider/slide-1.jpg" alt="">
                    <div class="main-slider__content">
                        <div class="container">
                            <button class="slick-next slick-arrow" aria-label="Next" type="button" style=""></button>
                            <button class="slick-prev slick-arrow" aria-label="Prev" type="button" style=""></button>
                            <div class="main-slider__info">
                                <div class="main-slider__header">
                                    Оказываем консультационные услуги
                                </div>
                                <div class="main-slider__intro">
                                    Быстро и качественно окажем консультационные услуги вашей компании
                                </div>
                                <a class="main-slider__more" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="main-slider__item">
                    <img src="http://via.placeholder.com/1920x534" alt="">
                    <div class="main-slider__content">
                        <div class="container">
                            <button class="slick-next slick-arrow" aria-label="Next" type="button" style=""></button>
                            <button class="slick-prev slick-arrow" aria-label="Prev" type="button" style=""></button>
                            <div class="main-slider__info">
                                <div class="main-slider__header">
                                    Текст<br /> на втором слайде
                                </div>
                                <div class="main-slider__intro">
                                    Быстро и качественно окажем консультационные услуги вашей компании
                                </div>
                                <a class="main-slider__more" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div>
                <div class="main-slider__item">
                    <img src="http://via.placeholder.com/1920x534/8a7f8e" alt="">
                    <div class="main-slider__content">
                        <div class="container">
                            <button class="slick-next slick-arrow" aria-label="Next" type="button" style=""></button>
                            <button class="slick-prev slick-arrow" aria-label="Prev" type="button" style=""></button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <div class="main-service">
            <div class="container">
                <div class="main-service__tabs">
                    <div class="main-service__item">
                        <div class="main-service__name">Вознаграждение</div>
                        <div class="main-service__more">
                            <a href="#" class="btn-o main-service__more-btn">Подробнее</a>
                        </div>
                        <div class="main-service__tooltip">
                            <ul>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-service__item">
                        <div class="main-service__name">Управление талантами</div>
                        <div class="main-service__more">
                            <a href="#" class="btn-o main-service__more-btn">Подробнее</a>
                        </div>
                        <div class="main-service__tooltip">
                            <ul>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-service__item">
                        <div class="main-service__name">Исследования</div>
                        <div class="main-service__more">
                            <a href="#" class="btn-o main-service__more-btn">Подробнее</a>
                        </div>
                        <div class="main-service__tooltip">
                            <ul>
                                <li>Комплексное исследование практик HR</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                                <li>Диагностика уровня цифровизации  практик управления персоналом</li>
                                <li>Исследования практик в области развития талантов и управления карьерой</li>
                                <li>Комплексное исследование практик HR</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-news">
            <div class="container">
                <div class="main-news__header-line">
                    <div class="main-news__header">Новости компании</div>
                    <a href="#" class="main-news__all">Все новости</a>
                </div>
                <div class="main-news__list">

                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-1.jpg')"></div>
                            <div class="main-news__name">
                                Эмоциональный интеллект. Как его диагностировать и развивать?
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-2.jpg')"></div>
                            <div class="main-news__name">
                                Корпоративная культура. Как ее измерить и (нужно ли) трансформировать?
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-3.jpg')"></div>
                            <div class="main-news__name">
                                Подобрать правильную комбинацию. Как часто нужно пересмативать структуру компенсационных пакетов и как проверить, помогает ли действующая у вас в компании система достигать долгосрочных целей?  
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-4.jpg')"></div>
                            <div class="main-news__name">
                                Эмоциональный интеллект. Как его диагностировать и развивать?
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-5.jpg')"></div>
                            <div class="main-news__name">
                                Должностные инструкции. Отписка для Трудовой инспекции или управленческий инструмент, который нужен всем? 
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-6.jpg')"></div>
                            <div class="main-news__name">
                                Еще раз о льготах
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-7.jpg')"></div>
                            <div class="main-news__name">
                                Эмоциональный интеллект. Как его диагностировать и развивать?
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-8.jpg')"></div>
                            <div class="main-news__name">
                                Корпоративная культура. Как ее измерить и (нужно ли) трансформировать?
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>
                    <div class="main-news__item">
                        <div class="main-news__card">
                            <div class="main-news__image" style="background-image: url('/assets/template/img/tmp/main-news-9.jpg')"></div>
                            <div class="main-news__name">
                                Использование инструментов BigData для повышения эффективности управления персоналом
                            </div>
                            <a href="#" class="main-news__more">Подробнее</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="main-about">
            <div class="container">

                    <div class="main-about__header">О компании</div>
                    <div class="main-about__box">
                        <div class="main-about__image">
                            <img src="/assets/template/img/tmp/main-about.jpg" alt="">
                        </div>
                        <div class="main-about__info">
                            Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.  С другой стороны реализация намеченных плановых заданий играет важную.
                            <a href="#" class="main-about__more btn">Подробнее</a>
                        </div>
                    </div>

            </div>
        </div>


    </div>


//= include/footer.html


