<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
    <link rel="stylesheet" href="/assets/template/vendor/selectric/selectric.css">
    <link rel="stylesheet" href="/assets/template/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/template/css/main.css">
    <!--[if IE]><link href="/assets/template/css/ie.css" rel="stylesheet"><![endif]-->
    <link href="/assets/template/css/ie.css" rel="stylesheet">
</head>
<body>



<div class="wrapper">
    <header class="header__main">
        <div class="container">
            <div class="header__body">
                <div class="header__logo"><a href="/"><img src="/assets/template/img/logo.png" alt=""></a></div>
                <a href="tel:+71100000" class="header__phone"> + 7 11 000 00</a>
                <a href="#" class="header__instagram"><span class="fa fa-instagram"></span></a>
                <div class="header__cart -hover">
                    <div id="msMiniCart" class="mini-cart full -hover">
                        <span href="cart">
                            <span class="mini-cart__label">Корзина</span> <span class="mini-cart__icon"><span class="ms2_total_count mini-cart__total">2</span></span>
                        </span>

                   
                        <div class="cart-items mini-cart__items">
                            <ul id="mc-dynamic">
                                <li>
                                    <div class="mini-cart__image" style="background-image: url('/assets/template/img/tmp/mini-cart__image.jpg');"></div>
                                    <div class="mini-cart__body">
                                        <form action="#">
                                            <div class="mini-cart__row">
                                                <div class="mini-cart__product">Комплект с бетменами</div>
                                                <button class="mini-cart__remove" type="submit" name="ms2_action" value="cart/remove" title="Удалить"><i class="fa fa-trash"></i></button>
                                            </div>
                                            <div class="mini-cart__row">
                                                <div class="mini-cart__price-name">Цена</div>
                                                <div class="mini-cart__price"><span>1000</span> руб</div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="mini-cart__image" style="background-image: url('/assets/template/img/tmp/mini-cart__image.jpg');"></div>
                                    <div class="mini-cart__body">
                                        <form action="#">
                                            <div class="mini-cart__row">
                                                <div class="mini-cart__product">Комплект с бетменами</div>
                                                <button class="mini-cart__remove" type="submit" name="ms2_action" value="cart/remove" title="Удалить"><i class="fa fa-trash"></i></button>
                                            </div>
                                            <div class="mini-cart__row">
                                                <div class="mini-cart__price-name">Цена</div>
                                                <div class="mini-cart__price"><span>1000</span> руб</div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                            <a class="xbtn" href="#">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__phone-mobile">
                <a href="tel:+71100000"> + 7 11 000 00</a>
            </div>

                <div class="header__title">
                    Рождение ребенка - это действительно чудо
                </div>
                <div class="header__info">
                    Родителям нужно создать для ребенка максимально комфортную обстановку, важной составляющей которой является детская кроватка.
                </div>
                <a type="submit" href="#" class="xbtn">Выбрать свой комплект</a>

        </div>
    </header>

    <script>document.body.classList.add("index");</script>

<div class="content">

    <div class="section-menu">
        <ul>
            <li><a href="#">Наши бортики</a></li>
            <li><a href="#">Преимущества</a></li>
        </ul>
    </div>

    <div class="about">
        <div class="container">
            <div class="about__title">О товаре</div>
            <div class="about__row row">
                <div class="about__item columns">
                    <div class="about__pic about__pic--security">
                        <div class="about__info">
                            Безопасность вашего малыша
                        </div>
                    </div>
                </div>
                <div class="about__item columns">
                    <div class="about__pic about__pic--heat">
                        <div class="about__info">
                            Тепло и уют<br /> в его кроватке
                        </div>
                    </div>
                </div>
                <div class="about__item columns">
                    <div class="about__pic about__pic--color">
                        <div class="about__info">
                            Развитие цветового восприятия
                        </div>
                    </div>
                </div>
                <div class="about__item columns">
                    <div class="about__pic about__pic--sleep">
                        <div class="about__info">
                            Привычка спать в своей кроватке
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lead">
        <div class="container">
            <div class="lead__title">Мы шьём комплекты<br /> на любые кроватки</div>
            <div class="lead__body">
                Круглые, овальные,<br /> прямоугольные и другие
            </div>
        </div>
    </div>

    <div class="advantages">
        <div class="container">
            <div class="advantages__title">Наши преимущества</div>
            <div class="advantages__list row">
                <div class="advantages__item columns advantages__item--material">
                    <div class="advantages__image-box">
                        <img src="/assets/template/img/advantages-1.png" alt="">
                    </div>
                    <div class="advantages__descr">
                        <div class="advantages__name">Натуральные материалы (100%) хлопок</div>
                        <div class="advantages__text">Мы шьем завязки из ткани, они не секутся, не рвутся и не развязываются ребенком</div>
                    </div>
                </div>
                <div class="advantages__item columns advantages__item--pillowcase">
                    <div class="advantages__image-box">
                        <img src="/assets/template/img/advantages-2.png" alt="">
                    </div>
                    <div class="advantages__descr">
                        <div class="advantages__name">Съемные наволочки</div>
                        <div class="advantages__text">Мы шьем завязки из ткани, они не секутся, не рвутся и не развязываются ребенком</div>
                    </div>
                </div>
                <div class="advantages__item columns advantages__item--uniq">
                    <div class="advantages__image-box">
                        <img src="/assets/template/img/advantages-3.png" alt="">
                    </div>
                    <div class="advantages__descr">
                        <div class="advantages__name">уникальный дизайн</div>
                        <div class="advantages__text">Мы шьем завязки из ткани, они не секутся, не рвутся и не развязываются ребенком</div>
                    </div>
                </div>
                <div class="advantages__item columns advantages__item--fixation">
                    <div class="advantages__image-box">
                        <img src="/assets/template/img/advantages-4.png" alt="">
                    </div>
                    <div class="advantages__descr">
                        <div class="advantages__name">Надежная фиксация</div>
                        <div class="advantages__text">Мы шьем завязки из ткани, они не секутся, не рвутся и не развязываются ребенком</div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="live">
        <div class="container">
            <div class="live__title">Наши бортики уже живут у:</div>
            <div class="live__list row">
                <div class="live__item columns">
                    <div class="live__image" style="background-image: url('/assets/template/img/tmp/live-1.jpg');"></div>
                    <div class="live__name">Виктория Дайнеко</div>
                </div>
                <div class="live__item columns">
                    <div class="live__image" style="background-image: url('/assets/template/img/tmp/live-2.jpg');"></div>
                    <div class="live__name">Ляйсан Утяшева</div>
                </div>
                <div class="live__item columns">
                    <div class="live__image" style="background-image: url('/assets/template/img/tmp/live-3.jpg');"></div>
                    <div class="live__name">Анна Хилькевич</div>
                </div>
                <div class="live__item columns">
                    <div class="live__image" style="background-image: url('/assets/template/img/tmp/live-4.jpg');"></div>
                    <div class="live__name">Ляйсан Утяшева</div>
                </div>
            </div>
            <a href="#" class="xbtn">Еще</a>
        </div>
    </div>

    <div class="b-catalog">
        <div class="container">
            <div class="b-catalog__title">Каталог товаров:</div>
            <div class="catalog">
                <div class="row">
                    <div class="catalog__item columns">
                        <div class="catalog-card">
                            <div class="catalog-card__name"><span>Комплект с бетменами Комплект с бетменами </span></div>
                            <div class="catalog-card__box">
                                <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg')"></div>
                                <div class="catalog-card__property">
                                    <div class="property__row">
                                        <div class="property__name">Материал</div>
                                        <div class="property__value">Хлопок</div>
                                    </div>
                                    <div class="property__row">
                                        <div class="property__name">Тип</div>
                                        <div class="property__value">Прямоугольная</div>
                                    </div>
                                </div>
                                <div class="catalog-card__price-line">
                                    <span class="catalog-card__price">1000</span><span class="catalog-card__currence">руб.</span>
                                </div>
                                <div class="catalog-card__action">
                                    <button type="submit" class="xbtn">Купить</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="catalog__item columns">
                        <div class="catalog-card">
                            <div class="catalog-card__name">Комплект с бетменами</div>
                            <div class="catalog-card__box">
                                <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                                <div class="catalog-card__property">
                                    <div class="property__row">
                                        <div class="property__name">Материал</div>
                                        <div class="property__value">Хлопок</div>
                                    </div>
                                    <div class="property__row">
                                        <div class="property__name">Тип</div>
                                        <div class="property__value">Прямоугольная</div>
                                    </div>
                                </div>
                                <div class="catalog-card__price-line">
                                    <span class="catalog-card__price">7999</span><span class="catalog-card__currence">руб.</span>
                                </div>
                                <div class="catalog-card__action">
                                    <button type="submit" class="xbtn">Купить</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="catalog__item columns">
                        <div class="catalog-card">
                            <div class="catalog-card__name">Комплект с бетменами</div>
                            <div class="catalog-card__box">
                                <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                                <div class="catalog-card__property">
                                    <div class="property__row">
                                        <div class="property__name">Материал</div>
                                        <div class="property__value">Хлопок</div>
                                    </div>
                                    <div class="property__row">
                                        <div class="property__name">Тип</div>
                                        <div class="property__value">Прямоугольная</div>
                                    </div>
                                </div>
                                <div class="catalog-card__price-line">
                                    <span class="catalog-card__price">5999</span><span class="catalog-card__currence">руб.</span>
                                </div>
                                <div class="catalog-card__action">
                                    <button type="submit" class="xbtn">Купить</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="catalog__item columns">
                        <div class="catalog-card">
                            <div class="catalog-card__name">Комплект с бетменами</div>
                            <div class="catalog-card__box">
                                <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                                <div class="catalog-card__property">
                                    <div class="property__row">
                                        <div class="property__name">Материал</div>
                                        <div class="property__value">Хлопок</div>
                                    </div>
                                    <div class="property__row">
                                        <div class="property__name">Тип</div>
                                        <div class="property__value">Прямоугольная</div>
                                    </div>
                                </div>
                                <div class="catalog-card__price-line">
                                    <span class="catalog-card__price">1000</span><span class="catalog-card__currence">руб.</span>
                                </div>
                                <div class="catalog-card__action">
                                    <button type="submit" class="xbtn">Купить</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="catalog__item columns">
                        <div class="catalog-card">
                            <div class="catalog-card__name">Комплект с бетменами</div>
                            <div class="catalog-card__box">
                                <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                                <div class="catalog-card__property">
                                    <div class="property__row">
                                        <div class="property__name">Материал</div>
                                        <div class="property__value">Хлопок</div>
                                    </div>
                                    <div class="property__row">
                                        <div class="property__name">Тип</div>
                                        <div class="property__value">Прямоугольная</div>
                                    </div>
                                </div>
                                <div class="catalog-card__price-line">
                                    <span class="catalog-card__price">7999</span><span class="catalog-card__currence">руб.</span>
                                </div>
                                <div class="catalog-card__action">
                                    <button type="submit" class="xbtn">Купить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item columns">
                        <div class="catalog-card">
                            <div class="catalog-card__name">Комплект с бетменами</div>
                            <div class="catalog-card__box">
                                <div class="catalog-card__image" style="background-image: url('/assets/template/img/catalog__image.jpg');"></div>
                                <div class="catalog-card__property">
                                    <div class="property__row">
                                        <div class="property__name">Материал</div>
                                        <div class="property__value">Хлопок</div>
                                    </div>
                                    <div class="property__row">
                                        <div class="property__name">Тип</div>
                                        <div class="property__value">Прямоугольная</div>
                                    </div>
                                </div>
                                <div class="catalog-card__price-line">
                                    <span class="catalog-card__price">5999</span><span class="catalog-card__currence">руб.</span>
                                </div>
                                <div class="catalog-card__action">
                                    <button type="submit" class="xbtn">Купить</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="catalog__more">
                    <a href="#">Еще</a>
                </div>
            </div>
        </div>
    </div>


    <div class="facts">
        <div class="container">
            <div class="facts__title">Факты о нас</div>
            <div class="facts__row row">
                <div class="facts__item columns">
                    <div class="facts__pic facts__pic--sertificate">
                        <div class="facts__info">
                            Товар сертифицирован
                        </div>
                    </div>
                </div>
                <div class="facts__item columns">
                    <div class="facts__pic facts__pic--partners">
                        <div class="facts__info">
                            3 года<br /> на рынке
                        </div>
                    </div>
                </div>
                <div class="facts__item columns">
                    <div class="facts__pic facts__pic--delivery">
                        <div class="facts__info">
                            Доставка по всему миру
                        </div>
                    </div>
                </div>
                <div class="facts__item columns">
                    <div class="facts__pic facts__pic--clients">
                        <div class="facts__info">
                            Более 2500 клиентов
                        </div>
                    </div>
                </div>
            </div>

            <div class="facts__title facts__title-opinion">Мнение педиатра</div>
            <div class="opinion row">
                <div class="opinion__image-box columns">
                    <div class="opinion__image" style="background-image: url('/assets/template/img/tmp/opinion-1.jpg');"></div>
                </div>
                <div class="opinion__box columns">
                    <div class="opinion__thumb" style="background-image: url('/assets/template/img/tmp/opinion-1.jpg');"></div>
                    <div class="opinion__author">Мищенко Екатерина Петровна</div>
                    <div class="opinion__staff">врач педиатр</div>
                    <div class="opinion__text">
                        Как педиатр, я много беседовала с родителями, которым необходимо было высказать свои страхи по поводу как болезней, так и прививок. Мы вместе находили лучшее решение для их детей. Некоторые выбирали не прививаться совсем. Другие не могли избавиться от страха перед болезнями, особенно столбняком. В этих случаях мы откладывали вакцинацию на как можно более долгий срок и прибегали к защите и "очистке" организма нозодами.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="company">
        <div class="container">

            <div class="row">
                <div class="company__left columns">&nbsp;</div>
                <div class="company__right columns">
                    <div class="company__title">О компании</div>
                    <div class="boss__name">Климова Катрин</div>
                    <div class="boss__staff">Создатель мастерской</div>
                    <ul>
                        <li>В Кирове  получила профессиональное образование "Портной"</li>
                        <li>Бизнес-мама.</li>
                        <li>Работаю в декрете</li>
                        <li>Бизнес-мама. Работаю в декрете</li>
                    </ul>
                    <a href="#" class="xbtn">Заказать</a>
                </div>
            </div>
        </div>
    </div>


</div>

//= include/footer.html