//= include/header.html

<script>document.body.classList.add("remuneration");</script>

<div class="section-title" style="background-image: url('/assets/template/img/tmp/remuneration__bgup.jpg')">
    <h1 class="section-title__inner">Карта</h1>
</div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Консультационные услуги</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="container">
        
        <ul>
            <li><a href="/index.html">Главная</a></li>
            <li><a href="/research.html">Исследования</a></li>
            <li><a href="/poll.html">Карточка Опроса</a></li>
            <li><a href="/article.html">Карточка Статьи</a></li>
            <li><a href="/contacts.html">Контакты</a></li>
            <li><a href="/polls.html">Опросы</a></li>
            <li><a href="/polls.html">Опросы_Авторизация - форма появляется при клике на кнопку Пройти опрос</a></li>
            <li><a href="/news.html">Статьи</a></li>
            <li><a href="/remuneration.html">Услуги</a></li>

        </ul>

    </div>
</div>

//= include/footer.html