//= include/header.html

<div class="section-title" style="background-image: url('/assets/template/img/tmp/news-title__bg.jpg')">
    <h1 class="section-title__inner">Статьи</h1>
</div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Статьи</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="container">

        <div class="news">
            <div class="news__controls">
                <div class="news__nav">
                    <a href="#">Все</a>
                    <a href="#" class="active">Новости</a>
                    <a href="#">История успеха</a>
                </div>
                <div class="news-search">
                    <form action="">
                        <input class="news-search__input" placeholder="Введите название статьи" type="text">
                        <button class="news-search__submit"></button>
                    </form>
                </div>
            </div>
            <div class="news__list">
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-2.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Как часто нужно пересмативать структуру компенсационных пакетов и как проверить, помогает ли действующая у вас
                                в компании система?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-3.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-4.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-5.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Должностные инструкции. Отписка для Трудовой инспекции или управленческий инструмент, который нужен всем? </div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-6.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Еще раз о льготах</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-7.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-8.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-9.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <div class="news__card">
                        <div class="news__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>
                        <div class="news__info">
                            <div class="news__type">Новости</div>
                            <div class="news__name">Эмоциональный интеллект. Как его диагностировать и развивать?</div>
                            <a href="#" class="news__more">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


//= include/footer.html



