//= include/header.html

<div class="section-title" style="background-image: url('/assets/template/img/tmp/polls__bg.jpg')">
    <h1 class="section-title__inner">Опрос</h1>
</div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/">Опросы</a></li>
            <li class="active">Опрос</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="container">

        <div class="poll-page">

            <div class="poll-page__steps">
                <div class="poll-page__time">14:50</div>
                <div class="step-box">
                    <div class="step-box__count">5/15</div>
                    <div class="step-box__tail">
                        <a href="#" class="step-box__item check">1</a>
                        <a href="#" class="step-box__item check">2</a>
                        <a href="#" class="step-box__item check">3</a>
                        <a href="#" class="step-box__item check">4</a>
                        <a href="#" class="step-box__item current">5</a>
                        <a href="#" class="step-box__item">6</a>
                        <a href="#" class="step-box__item">7</a>
                        <a href="#" class="step-box__item">8</a>
                        <a href="#" class="step-box__item">9</a>
                        <a href="#" class="step-box__item active">10</a>
                        <a href="#" class="step-box__item">11</a>
                        <a href="#" class="step-box__item">12</a>
                        <a href="#" class="step-box__item">13</a>
                        <a href="#" class="step-box__item">14</a>
                        <a href="#" class="step-box__item">15</a>

                    </div>
                </div>
            </div>
            <div class="poll-page__issue">
                <div class="poll-page__name">
                    Корпоративная культура. Как ее измерить и трансформировать?    
                </div>
                <div class="poll-page__introtext">
                    Аннотация. С другой стороны сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками 
                    в отношении поставленных задач. Не следует, однако забывать, 
                    что сложившаяся структура организации влечет за собой процесс внедрения 
                    и модернизации направлений прогрессивного развития. 
                </div>
                
            </div>
            <div class="poll-page__company">
                <img src="/assets/template/img/tmp/poll__nikel.jpg" alt="">
                <p>Лидер горно-металлургической промышленности России, один 
из крупнейших в мире производителей никеля и палладия</p>
            </div>
            
        </div>

    </div>
</div>


//= include/footer.html



