//= include/header.html

<div class="section-title" style="background-image: url('/assets/template/img/tmp/polls__bg.jpg')">
    <h1 class="section-title__inner">Наши опросы</h1>
</div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Опросы</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="container">
        <div class="polls">


            <div class="polls__item">
                <div class="polls__card">
                    <div class="polls__image" style="background-image: url('/assets/template/img/tmp/research-1.jpg');"></div>
                    <div class="polls__text">
                        Наш опрос равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                    </div>
                    <div class="polls__start">
                        <a href="#" class="btn">Пройти опрос</a>
                    </div>
                </div>
            </div>

            <div class="polls__item">
                <div class="polls__card">
                    <div class="polls__image" style="background-image: url('/assets/template/img/tmp/research-2.jpg');"></div>
                    <div class="polls__text">
                        Наш опрос равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                    </div>
                    <div class="polls__start">
                        <a href="#" class="btn">Пройти опрос</a>
                    </div>
                </div>
            </div>

            <div class="polls__item">
                <div class="polls__card">
                    <div class="polls__image" style="background-image: url('/assets/template/img/tmp/research-3.jpg');"></div>
                    <div class="polls__text">
                        Наш опрос равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании
                    </div>
                    <div class="polls__start">
                        <a href="#" class="btn">Пройти опрос</a>
                    </div>
                </div>
            </div>

            <div class="polls__item">
                <div class="polls__card">
                    <div class="polls__image" style="background-image: url('/assets/template/img/tmp/research-4.jpg');"></div>
                    <div class="polls__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых
                    </div>
                    <div class="polls__start">
                        <a href="#" class="btn">Пройти опрос</a>
                    </div>
                </div>
            </div>

            <div class="polls__item">
                <div class="polls__card">
                    <div class="polls__image" style="background-image: url('/assets/template/img/tmp/research-5.jpg');"></div>
                    <div class="polls__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых
                    </div>
                    <div class="polls__start">
                        <a href="#" class="btn">Пройти опрос</a>
                    </div>
                </div>
            </div>

            <div class="polls__item">
                <div class="polls__card">
                    <div class="polls__image" style="background-image: url('/assets/template/img/tmp/research-6.jpg');"></div>
                    <div class="polls__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых
                    </div>
                    <div class="polls__start">
                        <a href="#" class="btn">Пройти опрос</a>
                    </div>
                </div>
            </div>

            <div class="polls__item">
                <div class="polls__card">
                    <div class="polls__image" style="background-image: url('/assets/template/img/tmp/research-7.jpg');"></div>
                    <div class="polls__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых
                    </div>
                    <div class="polls__start">
                        <a href="#" class="btn">Пройти опрос</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="show__more">
            <a href="#" class="btn">Показать еще</a>
        </div>
    </div>
</div>


//= include/footer.html



