//= include/header.html

<div class="section-title" style="background-image: url('/assets/template/img/tmp/remuneration__bgup.jpg')">
    <h1 class="section-title__inner">Вознаграждение</h1>
</div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Консультационные услуги</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="container">

        <div class="remuneration">

            <div class="remuneration__list">
                <div class="remuneration__item">
                    <div class="remuneration__card">
                        <div class="remuneration__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');"></div>

                        <div class="remuneration__info">
                            <div class="remuneration__info-box">
                                <div class="remuneration__name">Анализ и описание должностей</div>
                                <a href="#" class="remuneration__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="remuneration__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


//= include/footer.html



