//= include/header.html

<script>document.body.classList.add("remuneration");</script>

<div class="section-title" style="background-image: url('/assets/template/img/tmp/remuneration__bgup.jpg')">
    <h1 class="section-title__inner">Вознаграждение</h1>
</div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Консультационные услуги</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="container">

        <div class="remuneration">

            <div class="remuneration__list">

                <div class="remuneration__item">
                    <div class="remuneration__card">
                        <div class="remuneration__image" style="background-image: url('/assets/template/img/tmp/article-1.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="remuneration__info">
                            <div class="remuneration__info-box">
                                <div class="remuneration__name">Анализ и описание должностей</div>
                                <a href="#" class="remuneration__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="remuneration__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="remuneration__item remuneration__item--right">
                    <div class="remuneration__card">
                        <div class="remuneration__image" style="background-image: url('/assets/template/img/tmp/remuneration__2.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="remuneration__info">
                            <div class="remuneration__info-box">
                                <div class="remuneration__name">Прояснение целей, задач и областей ответственности, разработка матрицы областей ответственности</div>
                                <a href="#" class="remuneration__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="remuneration__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint odio nisi, nesciunt rerum perspiciatis ipsa qui voluptates cupiditate hic minus eum quidem in dignissimos est. Maxime officia, sed earum officiis?
                    </div>
                </div>

                <div class="remuneration__item remuneration__item--down">
                    <div class="remuneration__card">
                        <div class="remuneration__image" style="background-image: url('/assets/template/img/tmp/remuneration__3.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="remuneration__info">
                            <div class="remuneration__info-box">
                                <div class="remuneration__name">Аудит действующих систем вознаграждения ответственности</div>
                                <a href="#" class="remuneration__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="remuneration__text">
                        ...Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="remuneration__item remuneration__item--down">
                    <div class="remuneration__card">
                        <div class="remuneration__image" style="background-image: url('/assets/template/img/tmp/remuneration__4.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="remuneration__info">
                            <div class="remuneration__info-box">
                                <div class="remuneration__name">Оценка должностей по методологии Hay Group </div>
                                <a href="#" class="remuneration__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="remuneration__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="remuneration__item">
                    <div class="remuneration__card">
                        <div class="remuneration__image" style="background-image: url('/assets/template/img/tmp/remuneration__5.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="remuneration__info">
                            <div class="remuneration__info-box">
                                <div class="remuneration__name">Разработка  и внедрение структуры грейдов, структуры базовых окладов, разработка модели переменного вознаграждения</div>
                                <a href="#" class="remuneration__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="remuneration__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="remuneration__item remuneration__item--right">
                    <div class="remuneration__card">
                        <div class="remuneration__image" style="background-image: url('/assets/template/img/tmp/remuneration__6.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="remuneration__info">
                            <div class="remuneration__info-box">
                                <div class="remuneration__name">Тренинги</div>
                                <a href="#" class="remuneration__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="remuneration__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-title" style="background-image: url('/assets/template/img/tmp/remuneration__bgdown.jpg')">
        <h1 class="section-title__inner">Управление талантами</h1>
    </div>
    <div class="container">

        <div class="management">

            <div class="management__list">

                <div class="management__item management__item--down">
                    <div class="management__card">
                        <div class="management__image" style="background-image: url('/assets/template/img/tmp/management__1.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="management__info">
                            <div class="management__info-box">
                                <div class="management__name">Разработка модели поведенческих и функциональных компетенций</div>
                                <a href="#" class="management__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="management__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="management__item management__item--down">
                    <div class="management__card">
                        <div class="management__image" style="background-image: url('/assets/template/img/tmp/management__2.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="management__info">
                            <div class="management__info-box">
                                <div class="management__name">Диагностика лидерских стилей и организационного климата ответственности </div>
                                <a href="#" class="management__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="management__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="management__item">
                    <div class="management__card">
                        <div class="management__image" style="background-image: url('/assets/template/img/tmp/management__3.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="management__info">
                            <div class="management__info-box">
                                <div class="management__name">Диагностика эмоционального интеллекта и разработка индивидуальных планов развития</div>
                                <a href="#" class="management__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="management__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="management__item management__item--right">
                    <div class="management__card">
                        <div class="management__image" style="background-image: url('/assets/template/img/tmp/management__4.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="management__info">
                            <div class="management__info-box">
                                <div class="management__name">Разработка моделей карьерного развития, программ по подготовке кадрового резерва на позиции топ-менеджмента</div>
                                <a href="#" class="management__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="management__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

                <div class="management__item">
                    <div class="management__card">
                        <div class="management__image" style="background-image: url('/assets/template/img/tmp/management__5.jpg');">
                            <div class="remuneration__toggle"></div>
                        </div>

                        <div class="management__info">
                            <div class="management__info-box">
                                <div class="management__name">Тренинги</div>
                                <a href="#" class="management__order">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="management__text">
                        Равным образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании соответствующих условий активизации.
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>
<div class="forma-feedback" style="background-image: url('/assets/template/img/tmp/forma__bg.jpg')">
    <div class="forma-feedback__box">
        <div class="forma-feedback__header">
            Форма обратной связи
        </div>
        <form action="" method="post">
            <input name="name" placeholder="Имя" type="text">
            <input name="phone" placeholder="Телефон" type="text">
            <input name="email" placeholder="Email" type="text">
        </form>
        <button class="btn" type="submit">Отправить</button>
        <div class="forma-feedback__consent">
            Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
        </div>
   </div>
</div>

//= include/footer.html



