//= include/header.html

<div class="section-title" style="background-image: url('/assets/template/img/tmp/section-title__company_1920x0_35f.jpg')">
    <h1 class="section-title__inner">Исследования</h1>
</div>

<div class="crumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Исследования</li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="container">

        <div class="posts">

            //= include/research-item.html
            //= include/research-item.html
            //= include/research-item.html
            //= include/research-item.html
            //= include/research-item.html
            //= include/research-item.html
            //= include/research-item.html
            //= include/research-item.html
            //= include/research-item.html


        </div>
    </div>
</div>


//= include/footer.html



